.gitignore
.project
.vs/*
x64/*
obj/*
InstallVPinMAME_VC2019.vcxproj
InstallVPinMAME_VC2019.vcxproj.filters
InstallVPinMAME_VC2019d.exe
InstallVPinMAME_VC2019d.pdb
LibPinMAME_VC2019.vcxproj
LibPinMAME_VC2019.vcxproj.filters
LibPinMAMETest_VC2019.vcxproj
LibPinMAMETest_VC2019.vcxproj.filters
PinMAME_VC2019.sln
PinMAME_VC2019.vcxproj
PinMAME_VC2019.vcxproj.filters
PinMAME_VC2019.vcxproj.user
PinMAME32_VC2019.vcxproj
.gitignore
PinMAME32_VC2019.vcxproj.filters
VPinMAME_VC2019.vcxproj
VPinMAME_VC2019.vcxproj.filters
VPinMAME64.dll
